@{
    Layout = "_Layout";
    ViewData["Title"] = "Self Service";
}

<!-- =======================================================
    Theme Name: Delicious
    Theme URL: https://bootstrapmade.com/delicious-free-restaurant-bootstrap-theme/
    Author: BootstrapMade.com
    Author URL: https://bootstrapmade.com
  ======================================================= -->

@section Styles{
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Satisfy|Bree+Serif|Candal|PT+Sans">
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
}

<section id="banner">
    <div class="bg-color">
        <header id="header">
            <div class="container">
                <div class="navbar nav" id="navTop">
                    <a href="login" class="navLogin">Entrar</a>
                    <a href="cadastro" class="navLogin">Cadastrar-se</a>
                </div>
            </div>
        </header>
        <div class="container">
            <div class="row">
                <div class="inner text-center">
                    <h1 class="logo-name">Self Service</h1>
                    <h2>Construa seu bem estar em grande estilo.</h2>
                    <p>Avalie sua dieta!!</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="about" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center marb-35">
                <h1 class="header-h">Self Service</h1>
                <p class="header-p">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
                    <br>nibh euismod tincidunt ut laoreet dolore magna aliquam.
                </p>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="col-md-6 col-sm-6">
                    <div class="about-info">
                        <h2 class="heading">vel illum qui dolorem eum</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero impedit inventore culpa vero accusamus in nostrum dignissimos modi, molestiae. Autem iusto esse necessitatibus ex corporis earum quaerat voluptates quibusdam dicta!</p>
                        <div class="details-list">
                            <ul>
                                <li><i class="fa fa-check"></i>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
                                <li><i class="fa fa-check"></i>Quisque finibus eu lorem quis elementum</li>
                                <li><i class="fa fa-check"></i>Vivamus accumsan porttitor justo sed </li>
                                <li><i class="fa fa-check"></i>Curabitur at massa id tortor fermentum luctus</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <img src="img/res01.jpg" alt="" class="img-responsive">
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</section>

@section Scripts{
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/custom.js"></script>
    <script src="js/contactform.js"></script>
}