<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"]</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    
    @RenderSection("Styles", false)
</head>

<body>
    @RenderBody()
   
    <footer class="footer text-center">
        <div class="footer-top">
            <div class="row">
                <div class="col-md-offset-3 col-md-6 text-center">
                    <div class="widget">
                        <h4 class="widget-title">Self Service</h4>
                        <address>Belo Horizonte<br>Minas Gerais, Brasil</address>
                        <div class="social-list">
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        </div>
                        <p class="copyright clear-float">
                            © Delicious Theme. Todos os direitos reservados.
                            <div class="credits">
                                Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
                            </div>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    
        
    @RenderSection("Scripts", false)
</body>

</html>

